@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;500;800&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
:root {
}
a {
  color: unset;
}
body {
  font-family: "Merriweather Sans", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  color: #3a3a3a;
}
h1 {
  font-family: "Merriweather Sans", sans-serif;
  color: rgb(65, 65, 65);
}
h3 {
  font-family: "Merriweather Sans", sans-serif;
  color: rgb(29, 29, 29);
  font-weight: 300;
  transition: all 0.5s;
}
section {
  display: flex;
  padding: 30px;
}

.menu-lateral {
  position: relative;
  background-color: #3498db;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: right;

  font-family: "Merriweather Sans", sans-serif;
  color: rgb(65, 65, 65);
  text-decoration: none;
}
.show-menu{
  left: -300px;
}
.topo_menu {
  padding: 0;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.hamburguer {
  font-size: 2rem;
  cursor: pointer;
  position: fixed;
  z-index: 20000;
  top: 15px;
  left: 20px;
}
#icon-menu-barra {
  opacity: 0;
  color: #3a3a3a;
}
.close-menu #icon-menu-barra {
  opacity: 1;
}
.close-menu ,.hamburguer i {
  right: 15rem;
}
.close-menu #icon-menu-x {
  opacity: 0;
}
#icon-menu-x {
  font-size: 2rem;
  cursor: pointer;  
  position: absolute;
  z-index: 20000;
  left: 160px;
}
.logo h1 {
  color: white;
}
.menu-lateral nav {
  padding: 30px;
  justify-content: right;
  align-items: right;
}
.menu-lateral li {
  padding: 10px;
  display: flex;
  color: white;

  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.menu-lateral li i {
  margin-right: 20px;
}
.menu-lateral .box_logout {
  padding: 20px;
  margin: 20px;
  background-color: #3a3a3a;
  background-image: linear-gradient(to right, rgb(31, 31, 31), rgb(56, 56, 56));
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  border-radius: 20px;
  color: white;
}
.menu-lateral .box_logout h3 {
  color: white;
  font-size: 15px;
}
.painel_dentro {
  width: 100%;
  height: 100%;
}
.topo {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 20px;
  justify-content: space-between;
}
.topo_icons {
  display: flex;
  flex-direction: row;
}
.icon_header {
  padding: 17px;
  border-radius: 20px;
  background-color: rgb(238, 238, 238);
  margin-left: 0.8rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}
.topo .pesquisa {
  background-color: rgb(238, 238, 238);
  border-radius: 20px;
  border: none;
  padding: 15px;
  width: 50%;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}
.login_habbo {
  background-color: #00c542;
  color: white;
}
.login_habbo i {
  margin-left: 15px;
}
.header_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.infos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.infos .box {
  padding: 20px;
  background-color: #fafafa;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  display: flex;
  width: 40%;
  margin-left: 5px;
  flex-wrap: nowrap;
  margin-right: 5px;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  min-height: 180px;
}
.infos .info_qtd {
  margin-top: 10px;
  font-size: 3rem;
  font-family: "Merriweather Sans", sans-serif;
  color: #3498db;
}
.infos .info_acao {
  margin-top: 10px;
  color: #3a3a3a;
  cursor: pointer;
  font-weight: 400;
  font-family: "Merriweather Sans", sans-serif;
}
.info_acao i {
  margin-left: 10px;
}
.infos h1 {
  color: #5e5e5e;
}
.header_section .filtro {
  cursor: pointer;
}

